.MuiCardHeader-avatar {
    margin-right: 30px;
};

.MuiAvatar-root {
    width: 60px;
    height: 60px;
};

.MuiCardHeader-title {
    font-size: 25px;
};

.MuiCardHeader-subheader {
    font-size: 22px;
};

.MuiTypography-body2 {
    font-size: 25px;
};

.MuiCardHeader-content {
    font-size: 25px;
};